name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Install Task
        uses: go-task/setup-task@v1

      - name: Build binaries
        run: task build-all

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: goralph-${{ github.ref_name }}
          path: dist/
